*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

ul li:hover{
    background: #f6f6f6;
    transform: translate(-10vw, 0vh);
    animation-name: example;
    animation-duration: 4s;

}
ul{
    position: relative;
    transform: skewY(-15deg);
}

ul li{
    position: relative;
    list-style: none;
    width: auto;
    background: #FF9F29;
    padding: 15px;
    transform: 0.5s;
}

a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: #1A4D2E;
  }
  
  /* mouse over link */
  a:hover {
    color: #1A4D2E;
  }
  
  /* selected link */
  a:active {
    color: 1A4D2E;
  }

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    margin: 5%;
}
.glow {
    font-size: 4rem;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff,
       0 0 20px #fff,
        0 0 30px #e60073,
         0 0 40px #e60073,
          0 0 50px #e60073,
           0 0 60px #e60073,
            0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff,
       0 0 30px #fff,
        0 0 40px #fff,
         0 0 50px #fff,
          0 0 60px #fff,
           0 0 70px #fff,
            0 0 80px #fff;
    }
  }

  