li h1{
    display: inline;
    font-size: 20px;
}

h1{
    font-size: 20px;
}

body{
    display:grid;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#continer{
    background-color:antiquewhite;
    border: solid;
    border-radius: 50px;
}
#perHour, #hour{
    width: 5rem;
}
#btnResult{
    width: 100%;
}
#content{
    margin: 20px;
}