/* main */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  margin-top: 10px;
}

#logo {
  font-weight: 700;
  font-size: 2rem;
  margin-left: 5vh;
}

.div1 .header span {
  font-size: smaller;
  font-weight: 300;
}

.div1 .header p {
  color: white;
}

.div1 .header #headerTitle, #subTitleId {
  color: #d1bbff;
  font-weight: 100;
  font-size: x-small;
  margin: 0%;
  padding: 0%;
}

.div1 .header #headerTitle {
  font-weight: 500;
  font-size: large;
}

#line_header {
  font-weight: 900;
  font-size: 1rem;
}

/*----------End Header section-------------*/
/*----------start nav section-------------*/
.div2 {
  border: #c204f1;
  border: 1px solid;
}

.div2, #navSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
}

#navSection {
  list-style: none;
}

a {
  padding: 10px;
}

a:link, a:visited, a:active {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  background: #000000;
}

/*----------End nav section-------------*/
/*----------start aside section-------------*/
.div3 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/*----------End aside section-------------*/
/*----------start aside2 section-------------*/
/*----------End aside2 section-------------*/
/*----------start aside3 section-------------*/
#img-aside-3 {
  max-width: 150px;
  max-height: 150px;
}

.div6 {
  position: relative;
}

/*----------End aside3 section-------------*/
/*----------start main section-------------*/
.parentMain {
  justify-content: center;
  justify-items: center;
  margin: 20px;
}

.div1Main {
  margin-bottom: 10px;
}
.div2Main {
  display: flex;
  padding: 30px;
}
#Section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Section img{
  width: 150px;
  height: 150px;
}

/*----------End main section-------------*/
/*----------start footer section-------------*/
.footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #000223;
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer .div7-1 p {
  color: white;
}

.footer .div7-1 p span {
  font-size: smaller;
  font-weight: 300;
}

#a_footer, #a_footer a {
  color: white;
  list-style: none;
}

#a_footer li {
  margin: 15px;
}

#a_footer li a:hover {
  color: rgb(0, 0, 0);
  background: #ffffff;
}

.div7-1 {
  grid-area: 1/1/2/2;
}

.div7-2 {
  grid-area: 1/2/2/3;
}

.div7-3 {
  grid-area: 1/3/2/4;
}

.div7-4 {
  grid-area: 1/4/2/5;
}

/*----------End footer section-------------*/
/* Basics of page */
.parent {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr); */
  grid-column-gap: 1px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1/1/2/4;
  background: #000223;
} /*header*/
.div2 {
  grid-area: 2/1/3/4;
  background: #ffffff;
} /*nav*/
.div3 {
  grid-area: 3/3/4/4;
  background: #ffffff;
} /*aside1*/
.div4 {
  grid-area: 4/3/5/4;
  background: #ffffff;
} /*aside2*/
.div5 {
  grid-area: 3/2/5/3;
  background: #ffffff;
  border: solid;
} /*main*/
.div6 {
  grid-area: 3/1/5/2;
  background: #ffffff;
} /*aside3*/
.div7 {
  grid-area: 5/1/6/4;
  background: #ffffff;
} /*footer*/
.parentMain {
  display: grid;
  /* grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1Main {
  grid-area: 1/1/2/2;
}

.div2Main {
  grid-area: 2/1/3/2;
}/*# sourceMappingURL=style.css.map */