/* main */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */    
}
#logo{
    max-width: 50px;
    max-height: 50px;
}

#titleId{
    font-weight: 900;
    font-size: 2rem;
}


/*----------End Header section-------------*/

/*----------start nav section-------------*/
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */    
}
#navSection{
    margin: 1%;
}
a{
    padding: 10px;
}

/*----------End nav section-------------*/
/*----------start aside section-------------*/
.div3{
    width: fit-content;
}

/*----------End aside section-------------*/
/*----------start aside2 section-------------*/

/*----------End aside2 section-------------*/
/*----------start aside3 section-------------*/
#img-aside-3{
    max-width: 150px;
    max-height: 150px;
}
/*----------End aside3 section-------------*/
/*----------start main section-------------*/

/*----------End main section-------------*/
/*----------start footer section-------------*/

/*----------End footer section-------------*/







/* Basics of page */
.parent {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    }
    
.div1 { grid-area: 1 / 1 / 2 / 4; background: #ff462a;}/*header*/
.div2 { grid-area: 2 / 1 / 3 / 4; background: #dc0000;}/*nav*/
.div3 { grid-area: 3 / 3 / 4 / 4; background: #aa0000;}/*aside1*/
.div4 { grid-area: 4 / 3 / 5 / 4; background: #aa3000;}/*aside2*/
.div5 { grid-area: 3 / 2 / 5 / 3; background: #dc5000;}/*main*/
.div6 { grid-area: 3 / 1 / 5 / 2; background: #dc7000;}/*aside3*/
.div7 { grid-area: 5 / 1 / 6 / 4; background: #dc9000;}/*footer*/

.parentMain {
    display: grid;
    /* grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div1Main { grid-area: 1 / 1 / 2 / 2; background: #00d}
.div2Main { grid-area: 2 / 1 / 3 / 2; background: #99d}